.exterior {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.exterior .overlap-group-wrapper {
    background-image: url(./img/BG-BACKGROUND-1.png);
    background-size: cover;
    background-position: 50% 50%;
    width: 1440px;
    height: 1024px;
}

.exterior .overlap-group {
    position: relative;
    height: 960px;
    top: 64px;
    background-image: url(./img/BG-CAFE-1.png);
    background-size: cover;
    background-position: 50% 50%;
}

.exterior .BG-CAFE {
    width: 126px;
    height: 151px;
    top: 626px;
    left: 287px;
    position: absolute;
}

.exterior .img {
    width: 119px;
    height: 208px;
    top: 547px;
    left: 814px;
    position: absolute;
}
